$main: #5db6cd;
$mainD: rgba(93, 182, 205, 0.702);
$main2: #f04e3e;
$main3: #50ab4a;

$mainbg: #191918;
$bg: #2a2a2a;
$menu_bg: #242424;
//$alt: #ff6f61;
$alt: $main3;
// breakpoints
$mobile: 900px;
$tablet: 1024px;
$desktop: 1920px;
// top bar
$topbar: 30px;

img {
  max-width: 100%;
}
.ml-1 {
  margin-left: 1em;
}

input {
  padding: 0.5em;
  background-color: $bg;
  color: white;
  border: 0;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid $alt;
  }
}

@mixin full-height {
  height: calc(100vh - #{$topbar});
  margin-top: $topbar;
}

// buttons
.actions {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: $bg;
  transition: all 0.3s;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: $alt;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.danger {
    background-color: $main2;
    border-color: $main2 !important;
  }

  img {
    width: 2em;
  }
}
